.main-body{
 background-image: url("resources/background-body.svg");
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}


.logo{
    height: 100px;
    background-image: url("resources/logo.svg");
    background-position: center;
    background-repeat: no-repeat;
}

@font-face{
    font-family: "Honey";
    src: url('resources/fonts/HoneyScript-Light.ttf');
}
@font-face{
    font-family: "Quicksand";
    src: url('resources/fonts/Quicksand-Medium.ttf');
}

*{
    font-family: "Quicksand";
    font-size: 16px;
}

.title1{

font-family: "Honey";
font-size: 35px;
letter-spacing: 3px;

}

.background{
    background-image: url("resources/background.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
}

.title02{
    font-family: "Quicksand";
    font-size: 25px;
    font-weight: bold;
}

.cart-icon{
    background-image:url("resources/cartico.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


.poster-img-1{
    height: 500px;
    background-repeat: no-repeat;
}

.poster-caption{
    margin-bottom: 150px;

}

.poster-titel{
    color: black;
    font-size: 50px;
    font-weight: bold;
}

.poster-txt{
    color: gray;
    font-size: 20px;

}

.poster-caption-1{
    margin-bottom: 70px;
    margin-right: 280px;
}